# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build
/.next
/out
/build

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Misc
.cache
*.tgz

.next/
node_modules/
tsconfig.tsbuildinfo
dist/
build/